.carousel-iner img{
width: 100%;
height: auto;
max-height: 600px; /* Ajuste a altura maxima conforme necessario */
object-fit: cover; /* Ajuste a imagem para cobrir o espaço */
}
.carousel{
max-width: 800px; /*Ajuste a largura maxima conforme o necessário*/
margin: auto; /* Centraliza o carrossel */
}
.carousel-caption {
background-color: rgba( 0, 0, 0, 0.5); /* Fundo semi-transparente para melhor legibilidade */
padding: 10px;
}
.spacer {
    margin-top: 30px; /* Espaço adicional entre o carrossel e o formulario */
}
.titulo {
display: block;
margin-bottom: 10px;
}
.contato{
padding: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
background-color: black;
border-radius: 50px;
}